@import url(./_background/history__advertisement_background.css);
@import url(./_button/history__advertisement_button.css);
@import url(./_paragraph/history__advertisment_parapgraph.css);
@import url(./_subtitle/history__advertisement_subtitle.css);
@import url(./_title/history__advertisement_title.css);

.history__advertisement {
    height: 357px;
    width: 100%;
    margin-top: 122px;
    display: flex;
    background: rgba(0, 0, 0, 0.85);
}