.history__about_subtitle {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #656363;
    margin-top: 22px;
    height: 217px;
}