.gallery__pictures {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-template-areas: "A A B C"
                         "D E F F";
    gap: 20px;
    margin-bottom: 100px;    
}

.gallery__pictures_1 {
    grid-area: A;

}

.gallery__pictures_2 {
    grid-area: B;
}

.gallery__pictures_3 {
    grid-area: C;
}

.gallery__pictures_4 {
    grid-area: D;
}

.gallery__pictures_5 {
    grid-area: E;
}

.gallery__pictures_6 {
    grid-area: F;
}