.history__images {
    margin-top: 151px;
    width: 498px;
    height: 539px;
    margin-left: 125px;
    box-sizing: content-box;
    display: flex;
    position: relative;
}

.history__image1 {
    max-width: 223px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    z-index: 2;
    margin-top: 65px;
}

.history__image2 {
    max-width: 255px;
    width: 100%;
    max-height: 430px;
    height: 100%;
    z-index: 1;
    position: absolute;
    right: 94px;
}

.history__image3 {
    max-width: 245px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
}